.app-container {
  width: 90%;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stepper-container {
  display: flex;
  align-items: center;
  width: auto;
}
.page-container {
  width: 100%;
  margin-top: 50px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
