.import-schema-page {
  margin-top: 16px;
}

.upload-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 16px;
}

.upload-container .MuiTypography-root {
  margin-right: 16px;
}

.file-name {
  margin-left: 16px;
  padding-left: 8px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.validate-request-field {
  display: flex;
  width: 800px;
}

.text-field {
  width: 100%;
}

.result-box {
    width: 800px;
    padding: 8px;
    margin-bottom: 10px;
    color: white;
    border-radius: 5px;
    background-color: red;
  }
 