.validate-request-page {
  margin-top: 16px;
}

.validate-request-field {
  display: flex;
  width: 800px;
  padding: 8px;
}

.text-field {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}
.back-button {
  position: absolute;
  top: 16px;
  right: 16px;
}

.result-box {
    width: 800px;
    padding: 8px;
    margin-bottom: 10px;
    color: white;
    border-radius: 5px;

    &.valid {
      background-color: green;
    }

    &.invalid {
      background-color: red;
    }
  }
 